In [29]:
!pip install requests
!pip install pandas
!pip install psycopg2
!pip install sqlalchemy

Requirement already satisfied: requests in c:\users\admin\desktop\10alytics\realtor project\.venv\lib\site-packages (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\admin\desktop\10alytics\realtor project\.venv\lib\site-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\admin\desktop\10alytics\realtor project\.venv\lib\site-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\admin\desktop\10alytics\realtor project\.venv\lib\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\admin\desktop\10alytics\realtor project\.venv\lib\site-packages (from requests) (2025.10.5)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\admin\desktop\10alytics\realtor project\.venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\desktop\10alytics\realtor project\.venv\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\desktop\10alytics\realtor project\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\desktop\10alytics\realtor project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\desktop\10alytics\realtor project\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\desktop\10alytics\realtor project\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2 in c:\users\admin\desktop\10alytics\realtor project\.venv\lib\site-packages (2.9.11)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting sqlalchemy
  Using cached sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Using cached greenlet-3.2.4-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Using cached typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Using cached sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl (2.1 MB)
Using cached greenlet-3.2.4-cp313-cp313-win_amd64.whl (299 kB)
Using cached typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-3.2.4 sqlalchemy-2.0.44 typing-extensions-4.15.0

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [30]:
import requests
import pandas as pd
import psycopg2
import json
from datetime import datetime
from sqlalchemy import create_engine

In [3]:



url = "https://zoopla-real-time.p.rapidapi.com/properties/details"

querystring = {"listingId":"69200045"}

headers = {
	"x-rapidapi-key": "84f0978012msh1f18751f8e0d084p1e70c8jsn78ad1b993ee8",
	"x-rapidapi-host": "zoopla-real-time.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

In [4]:
print(response.json())

{'data': {'listingDetails': {'listingId': '69200045', 'administrationFees': None, 'analyticsTaxonomy': {'areaName': 'Oxford', 'bedsMax': 2, 'bedsMin': 2, 'branchId': 3628, 'branchLogoUrl': 'https://st.zoocdn.com/zoopla_static_agent_logo_(707660).png', 'branchName': 'Hamptons - Oxford Sales', 'brandName': 'Hamptons', 'chainFree': False, 'companyId': 1612, 'countryCode': 'gb', 'countyAreaName': 'Oxfordshire', 'currencyCode': 'GBP', 'displayAddress': 'Davenant Road, Oxford OX2', 'furnishedState': '', 'groupId': 8, 'hasEpc': True, 'hasFloorplan': True, 'incode': '8BY', 'isRetirementHome': False, 'isSharedOwnership': False, 'listingCondition': 'pre-owned', 'listingId': 69200045, 'listingsCategory': 'residential', 'listingStatus': 'sale_under_offer', 'location': 'Oxford', 'memberType': 'agent', 'numBaths': 1, 'numBeds': 2, 'numImages': 18, 'numRecepts': 1, 'outcode': 'OX2', 'postalArea': 'OX', 'postTownName': 'Oxford', 'priceActual': 475000, 'price': 475000, 'priceMax': 475000, 'priceMin': 475000, 'priceQualifier': 'offers_over', 'propertyHighlight': 'Apartment|Local Amenities', 'propertyType': 'flat', 'regionName': 'South East England', 'section': 'for-sale', 'sizeSqFeet': '672', 'tenure': 'share_of_freehold', 'uuid': '9548949E-5CDC-11F0-B32F-8B45DB235FAD', 'zindex': 1516806, '__typename': 'ListingAnalyticsTaxonomy'}, 'detailedDescription': "This modern ground-floor garden apartment, architecturally designed and built in a chalet style, is located on a prestigious city side street near both Port Meadow and the Summertown shops. This lovely property features two double bedrooms, both with built-in wardrobes and chic interiors, and an open plan dual aspect living space with large windows which fill the space with natural light. The modern interior is complemented by beautiful wooden floors which form part of the zoned electric underfloor heating throughout. There are French doors from both the living space and main bedroom leading out to the rear garden.<br><br><strong>Outside</strong><br><br>Unusual for such a property, a private paved garden can be found at the rear enclosed by timber fencing, ideal for alfresco dining. There is electricity supply at each end. The property has its own allocated parking at the side, and the professionally maintained communal front garden also contains a bike store.<br><br><strong>Situation</strong><br><br>Summertown, a sought-after North Oxford suburb, is conveniently situated less than 2 miles from the bustling city centre of Oxford. This vibrant neighbourhood boasts a variety of shops, restaurants, and amenities, including two well-equipped gyms - the Ferry Leisure Centre and Nuffield Health &amp; Racquets Club.<br><br>Families are drawn to Summertown for its close proximity to some of North Oxford's most prestigious schools, making it an ideal location for those seeking a high-quality education for their children. Oxford has frequent bus services running along the Woodstock and Banbury Roads, providing easy access to the city centre. Additionally, residents can take advantage of regular train services to London from both Oxford's mainline station just 3 miles away and, closer still, Oxford Parkway, conveniently located just 1.5 miles away.<br><br><em> Property Ref Number: </em><br><br>Ham-0634<br><br><strong>Additional Information</strong><br><br>Local Authority: Oxford City Council<br>Council Tax Band: D<br>Service Charge Approx. £1500 Per Annum per flat<br>Peppercorn Ground Rent", 'metaTitle': 'Davenant Road, Oxford OX2, 2 bed flat for sale, £475,000 - Zoopla', 'metaDescription': '2 bed flat for sale in Davenant Road, Oxford OX2, selling for £475,000 from Hamptons - Oxford Sales. See property details on Zoopla or browse all our range of properties in Davenant Road, Oxford OX2.', 'category': 'residential', 'listingUris': {'detail': '/for-sale/details/69200045/', '__typename': 'ListingUris', 'contact': '/for-sale/contact/69200045/'}, 'title': '2 bed flat for sale', 'publicationStatus': 'Live', 'counts': {'numBedrooms': 2, 'numBathrooms': 1, 'numLivingRooms': 1, '__typename': 'RoomCount'}, 'viewCount': {'viewCount30day': 0, '__typename': 'ViewCount'}, 'ntsInfo': [{'title': 'Tenure', 'key': 'tenure', 'value': 'Share of freehold', 'description': "<span>Knowing the tenure of the property is important because it affects your rights to use the property and the costs of ownership.</span><span><b>Freehold</b> means you’ll own the property and the land it's built on. You'll usually be responsible for the maintenance of the property and have more freedom to alter it.</span><span>For flats and maisonettes, the freehold is sometimes shared with other properties in the same building. This is known as a share of freehold.</span><span><b>Leasehold</b> means you'll have the right to live in the home for a set amount of years (specified in the lease). The landlord (the freeholder) owns the land, and if the lease runs out, ownership of the property will go back to them.</span><span>Properties with short lease lengths (80 years or less) can decline in value as they are less appealing. Mortgage companies may also be less willing to lend on it. You can extend the lease but costs can be expensive, particularly for those properties with less than 80 years left on the lease. You should confirm the length of the lease and factor in these issues when buying a leasehold property. You're also likely to have to pay an annual amount for ground rent and services charges which can be subject to change. It is good practice to check additional leasehold costs that will apply to the property and factor this into your budget considerations.</span><span>Shared ownership is a form of leasehold in which you buy a percentage of the property and pay rent on the share you do not own. You may be able to buy the remaining share at an extra cost. When you wish to sell the property, you may need permission to do so.</span><span><b>Commonhold</b> is a type of freehold ownership for a property that's within a development. A commonhold or residents’ association owns andmanages the common parts of the property (like stairs and hallways). You'll need to join the commonhold association and contribute towards maintaining the development. It is good practice to check additional costs that will apply to the property and factor this into your budget considerations.</span><span><b>Non-traditional</b><br/>When you buy a park home, you own the building itself, but not the land it sits on. Instead, you'll rent the pitch from the site owner. There will be annual fees to pay to the site owner and it is important to know how often these charges are reviewed.</span><span>When you buy a houseboat, you own the boat itself, but there will also be boat licenses and mooring fees to pay. It is important to know how often these charges are reviewed. </span>", '__typename': 'NtsInfoItem'}, {'title': 'Service charge', 'key': 'service_charge', 'value': '£1,500 per year', 'description': '<h2>What it is</h2><span>A service charge is a regular payment for maintaining shared areas of a building. For example, lighting, heating, cleaning, building insurance and maintenance work.</span><span>Service charges are common for leasehold properties. But, some newer freehold homes may also have service charges too.</span><h2>Why it’s important</h2><span>Service charges can increase. You may also need to cover maintenance costs for future works that are not yet known. You should factor these costs into your budget.</span><span>Contact the agent to check this property’s historic and anticipated changes to service charges.</span>', '__typename': 'NtsInfoItem'}, {'title': 'Council tax band', 'key': 'council_tax_band', 'value': 'D', 'description': "<span>Council tax is payable on all domestic properties. The amount you pay depends on the tax band. You can check the charges for each tax band online via the following websites:</span><span>England and Wales - <a href='https://www.gov.uk/council-tax-bands' target='_blank'>https://www.gov.uk/council-tax-bands</a></span><span>Scotland - <a href='https://www.saa.gov.uk/' target='_blank'>https://www.saa.gov.uk</a></span><span>You may have personal circumstances which mean that you pay a reduced rate. You can get more information from the local council.</span>", '__typename': 'NtsInfoItem'}, {'title': 'Commonhold details', 'key': 'commonhold_details', 'value': 'Not available', 'description': None, '__typename': 'NtsInfoItem'}], 'additionalNtsInfo': [{'title': 'Water', 'key': 'water', 'value': 'Ask agent', 'description': 'It is important to understand the nature of the water supply. For instance, if the water source originates from a private well that needs periodic maintenance or adhering to specific water quality standards, additional costs may apply.', '__typename': 'AdditionalNtsInfoItem'}, {'title': 'Heating', 'key': 'heating', 'value': 'Ask agent', 'description': 'It is important to understand the nature of the heating supply. For instance, if the property is not linked to the mains gas line and instead relies on an LPG heating system, requires thorough acknowledgment and evaluation.', '__typename': 'AdditionalNtsInfoItem'}, {'title': 'Electricity', 'key': 'electricity', 'value': 'Ask agent', 'description': 'It is important to understand the nature of the electricity supply. For instance, if the property operates independent of the national grid and relies on a generator for power, requires thorough acknowledgment and evaluation.', '__typename': 'AdditionalNtsInfoItem'}, {'title': 'Sewerage', 'key': 'sewerage', 'value': 'Ask agent', 'description': 'It is important to understand the nature of the sewerage supply. For instance, septic tanks and cesspits may require maintenance, and costs will vary between providers. Septic tanks may also have registration and record keeping requirements.', '__typename': 'AdditionalNtsInfoItem'}, {'title': 'Broadband', 'key': 'broadband', 'value': 'Ask agent', 'description': 'It is important to understand the nature of the broadband supply. For instance, where a broadband connection is not available, additional costs may apply.', '__typename': 'AdditionalNtsInfoItem'}, {'title': 'Broadband speed', 'key': 'broadband_speed', 'value': 'Ask agent', 'description': "The broadband speed you can expect you receive in this property. Use Ofcom's broadband checker for more info - https://checker.ofcom.org.uk/en-gb/broadband-coverage.", '__typename': 'AdditionalNtsInfoItem'}, {'title': 'Mobile coverage', 'key': 'mobile_coverage', 'value': 'Ask agent', 'description': "The mobile coverage and signal strength you can expect to receive at this property. Use Ofcom's mobile coverage checker for more info - https://checker.ofcom.org.uk/en-gb/mobile-coverage", '__typename': 'AdditionalNtsInfoItem'}, {'title': 'Parking', 'key': 'parking', 'value': 'Ask agent', 'description': 'It is important to understand the parking availability for a property. For instance, additional costs may apply where parking permits are required.', '__typename': 'AdditionalNtsInfoItem'}], 'derivedEPC': {'efficiencyRating': 'C', '__typename': 'DerivedEPC'}, 'branch': {'branchId': '3628', 'address': '257 Banbury Road, Oxford', 'branchDetailsUri': '/find-agents/branch/hamptons-oxford-sales-oxford-3628/', 'branchResultsUri': '/for-sale/branch/hamptons-oxford-sales-oxford-3628/', 'logoUrl': 'https://st.zoocdn.com/zoopla_static_agent_logo_(707660).png', 'phone': '01865 680572', 'name': 'Hamptons - Oxford Sales', 'postcode': 'OX2 7HN', 'memberType': 'agent', 'attributes': {'embeddedContentIsBlacklisted': False, 'showOverseasListingExactLocation': False, '__typename': 'BranchAttributes'}, 'profile': {'details': "<div><strong>Established in 1869, Hamptons has 85+ branches in the UK and partners with international agents across the globe, marketing a wide range of properties from flats to grand country estates.<br /><br /></strong></div>\r\n<div><strong>While we are national estate agents, our local offices provide in-depth knowledge of each area, ensuring you receive expert advice with a personal touch.<br /><br />As The Home Experts, we're here to guide you every step of the way. Whether you're selling, or letting, our reach allows us to connect your property with the right buyers or tenants, offering expertise and service that makes all the difference. Our specialists in compliance, property management, and market research are on hand to make the process as smooth as possible.<br /><br />It's a journey - we'll get you there.</strong></div>", '__typename': 'AgentProfile'}, '__typename': 'AgentBranch'}, '__typename': 'ListingData', 'adTargeting': {'areaName': 'Oxford', 'bedsMax': 2, 'bedsMin': 2, 'branchId': 3628, 'branchLogoUrl': 'https://st.zoocdn.com/zoopla_static_agent_logo_(707660).png', 'branchName': 'Hamptons - Oxford Sales', 'brandName': 'Hamptons', 'chainFree': False, 'companyId': 1612, 'countryCode': 'gb', 'countyAreaName': 'Oxfordshire', 'currencyCode': 'GBP', 'displayAddress': 'Davenant Road, Oxford OX2', 'furnishedState': '', 'groupId': 8, 'hasEpc': True, 'hasFloorplan': True, 'incode': '8BY', 'isRetirementHome': False, 'isSharedOwnership': False, 'listingCondition': 'pre-owned', 'listingId': 69200045, 'listingsCategory': 'residential', 'listingStatus': 'sale_under_offer', 'location': 'Oxford', 'memberType': 'agent', 'numBaths': 1, 'numBeds': 2, 'numImages': 18, 'numRecepts': 1, 'outcode': 'OX2', 'postalArea': 'OX', 'postTownName': 'Oxford', 'priceActual': 475000, 'price': 475000, 'priceMax': 475000, 'priceMin': 475000, 'priceQualifier': 'offers_over', 'propertyHighlight': 'Apartment|Local Amenities', 'propertyType': 'flat', 'regionName': 'South East England', 'section': 'for-sale', 'sizeSqFeet': '672', 'tenure': 'share_of_freehold', 'uuid': '9548949E-5CDC-11F0-B32F-8B45DB235FAD', 'zindex': 1516806, '__typename': 'ListingAnalyticsTaxonomy'}, 'analyticsEcommerce': {'brand': 'Hamptons', 'category': 'for-sale/resi/agent/pre-owned/gb', 'id': 69200045, 'name': 'FS_Contact', 'price': 1, 'quantity': 1, 'variant': 'premium plus', '__typename': 'ListingAnalyticsEcommerce'}, 'pricing': {'isAuction': False, 'qualifier': 'offers_over', 'priceQualifierLabel': 'Offers over', 'internalValue': 475000, 'rentFrequencyLabel': None, 'valueLabel': '£475,000', 'currencyCode': 'GBP', 'originalCurrencyPrice': None, 'pricePerFloorAreaUnit': {'internalValue': 707, 'rentFrequencyLabel': None, 'unitsLabel': 'sq. ft', 'label': '£707/sq. ft', 'valueLabel': '£707', 'currencyCode': None, '__typename': 'PriceInfo'}, 'alternateRentFrequencyPrice': None, '__typename': 'ListingPricing', 'label': '£475,000'}, 'epc': {'image': [{'caption': 'EPC', 'filename': '5a7b3d032e383c14b6b5d6d6c6d62d27a6f297bc.png', '__typename': 'Media'}], 'pdf': None, '__typename': 'EPC'}, 'features': {'bullets': ['Open Plan Kitchen Sitting/Dining Room', 'Two Bedrooms', 'Family Bathroom', 'Courtyard Garden', 'Parking'], 'flags': {'furnishedState': None, 'studentFriendly': False, 'tenure': {'name': 'share_of_freehold', 'label': 'Share of freehold', '__typename': 'Label'}, 'availableFromDate': None, '__typename': 'FeatureFlag'}, 'highlights': [{'description': None, 'label': 'Apartment', '__typename': 'FeatureHighlight'}, {'description': None, 'label': 'Local Amenities', '__typename': 'FeatureHighlight'}], '__typename': 'Features'}, 'floorPlan': {'image': [{'filename': 'f694dd796c06e2d3c2dfc08f8e775651387ba909.jpg', 'caption': 'Fp', '__typename': 'Media'}], 'links': None, 'pdf': None, '__typename': 'FloorPlan'}, 'floorArea': {'label': '672 sq. ft', 'range': None, 'units': 'sq_feet', 'unitsLabel': 'sq. ft', 'value': 672, '__typename': 'FloorArea'}, 'content': {'virtualTour': None, 'floorPlan': [{'original': 'https://lc.zoocdn.com/f694dd796c06e2d3c2dfc08f8e775651387ba909.jpg', 'caption': 'Fp', 'url': None, 'filename': 'f694dd796c06e2d3c2dfc08f8e775651387ba909.jpg', 'type': 'floor_plan', '__typename': 'Media'}], 'audioTour': None, '__typename': 'MediaContent'}, 'propertyImage': [{'original': 'https://lc.zoocdn.com/3d1fb5c77a2bcdd198a88ddd778e655ffd61ed09.jpg', 'caption': None, 'url': None, 'filename': '3d1fb5c77a2bcdd198a88ddd778e655ffd61ed09.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/b8070f983c17cf6e511568070205b9e4b6573493.jpg', 'caption': None, 'url': None, 'filename': 'b8070f983c17cf6e511568070205b9e4b6573493.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/1b4c7b60f543c62a1537c70ec42c2810466c73f2.jpg', 'caption': None, 'url': None, 'filename': '1b4c7b60f543c62a1537c70ec42c2810466c73f2.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/8eaa258d66026b71a663af41324f340d6f82de97.jpg', 'caption': None, 'url': None, 'filename': '8eaa258d66026b71a663af41324f340d6f82de97.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/6c633757d6ae0488169e4a242c84a104af8fc280.jpg', 'caption': None, 'url': None, 'filename': '6c633757d6ae0488169e4a242c84a104af8fc280.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/637eb5f34240b8b02cb0973104ee7e3334d373e8.jpg', 'caption': None, 'url': None, 'filename': '637eb5f34240b8b02cb0973104ee7e3334d373e8.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/96d1a713f63308777df07af1a4d56653df786cfa.jpg', 'caption': None, 'url': None, 'filename': '96d1a713f63308777df07af1a4d56653df786cfa.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/5e7b4c06ca44679fe174f0fb20bb41d52be406ee.jpg', 'caption': None, 'url': None, 'filename': '5e7b4c06ca44679fe174f0fb20bb41d52be406ee.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/6c5741e094e7838655a1046febeb56ba899e61fc.jpg', 'caption': None, 'url': None, 'filename': '6c5741e094e7838655a1046febeb56ba899e61fc.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/0a3177dbb0ba8005dbde22194f5ff2bb089fc717.jpg', 'caption': None, 'url': None, 'filename': '0a3177dbb0ba8005dbde22194f5ff2bb089fc717.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/14f983dee11c5c9fa5e04eb7b4fe113eb83ec0ee.jpg', 'caption': None, 'url': None, 'filename': '14f983dee11c5c9fa5e04eb7b4fe113eb83ec0ee.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/7757c6e475c7f9e2a4da057b51c0d6884b0f50f0.jpg', 'caption': None, 'url': None, 'filename': '7757c6e475c7f9e2a4da057b51c0d6884b0f50f0.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/f4ef6fb181520e125f018e1acfe4265891295c0d.jpg', 'caption': None, 'url': None, 'filename': 'f4ef6fb181520e125f018e1acfe4265891295c0d.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/0e27c80a1e7042ade114f1939d7cd9ae976a9507.jpg', 'caption': None, 'url': None, 'filename': '0e27c80a1e7042ade114f1939d7cd9ae976a9507.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/3f0276c64e4b859ad5a0bedb0b8089480ac5295c.jpg', 'caption': None, 'url': None, 'filename': '3f0276c64e4b859ad5a0bedb0b8089480ac5295c.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/6c2e9124f22c646512bdede755527df65b8e053d.jpg', 'caption': None, 'url': None, 'filename': '6c2e9124f22c646512bdede755527df65b8e053d.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/11cf1ee3558e167f76bcb3f9d5fe62002c85a976.jpg', 'caption': None, 'url': None, 'filename': '11cf1ee3558e167f76bcb3f9d5fe62002c85a976.jpg', 'type': 'property_image', '__typename': 'Media'}, {'original': 'https://lc.zoocdn.com/07fa5b1c6a375011f94522a43e90c840ea901f7d.jpg', 'caption': None, 'url': None, 'filename': '07fa5b1c6a375011f94522a43e90c840ea901f7d.jpg', 'type': 'property_image', '__typename': 'Me

In [5]:
data = response.json()
file_name = 'zuma_data.json'
with open(file_name, 'w') as file:
    json.dump(data, file, indent = 4)

In [6]:
zuma_df = pd.read_json('zuma_data.json')

In [7]:
zuma_df.head()

,data,extensions
listingDetails,"{'listingId': '69200045', 'administrationFees'...",NaN
requestId,NaN,59a8b9ca-e3e9-49fe-a5d5-6555c77ef33d

In [8]:
zuma_realestate_df = pd.read_json(r'C:\Users\Admin\Desktop\10Alytics\Realtor Project\zuma_realtor\Datasets\real_estate.json')

In [9]:
zuma_realestate_df.head()

,addressLine1,city,state,zipCode,formattedAddress,bedrooms,squareFootage,yearBuilt,features,county,...,propertyTaxes,lastSalePrice,lastSaleDate,owner,id,longitude,latitude,subdivision,zoning,addressLine2
0,511 John St,Bryan,OH,43506,"511 John St, Bryan, OH 43506",3.0,1404.0,1959.0,"{'architectureType': 'Conventional', 'cooling'...",Williams,...,{'2021': {'total': 1799}},105000.0,2000-10-13T00:00:00.000Z,"{'names': ['SUSAN JO KERR'], 'mailingAddress':...","511-John-St,-Bryan,-OH-43506",-84.570163,41.469595,NaN,NaN,NaN
1,1067 Marlin Dr,Rockledge,FL,32955,"1067 Marlin Dr, Rockledge, FL 32955",3.0,2258.0,1966.0,"{'cooling': True, 'coolingType': 'Central', 'e...",Brevard,...,"{'2021': {'total': 1830}, '2022': {'total': 21...",125000.0,2019-08-13T00:00:00.000Z,"{'names': ['GYULA L KISS', 'JULIE A KISS'], 'm...","1067-Marlin-Dr,-Rockledge,-FL-32955",-80.746982,28.342440,MARLIN SUBD,R2,NaN
2,1136 Sullivan Rd,Ogden,UT,84403,"1136 Sullivan Rd, Apt 15, Ogden, UT 84403",NaN,NaN,NaN,{},Weber,...,NaN,NaN,NaN,NaN,"1136-Sullivan-Rd,-Apt-15,-Ogden,-UT-84403",-111.950330,41.204860,NaN,NaN,Apt 15
3,101 Trinity Lakes Dr,Sun City Center,FL,33573,"101 Trinity Lakes Dr, Apt 361, Sun City Center...",NaN,NaN,NaN,{},Hillsborough,...,NaN,NaN,NaN,NaN,"101-Trinity-Lakes-Dr,-Apt-361,-Sun-City-Center...",-82.355936,27.710284,NaN,NaN,Apt 361
4,7843 S Euclid Ave,Chicago,IL,60649,"7843 S Euclid Ave, Apt 1, Chicago, IL 60649",6.0,3345.0,1925.0,"{'architectureType': 'Two Family', 'cooling': ...",Cook,...,{'2020': {'total': 2527}},225000.0,2022-09-23T00:00:00.000Z,"{'names': ['78TH EUCLID LLC,'], 'mailingAddres...","7843-S-Euclid-Ave,-Apt-1,-Chicago,-IL-60649",-87.576879,41.752132,SOUTHFIELD,NaN,Apt 1

In [10]:
zuma_realestate_df.isnull().sum()

addressLine1          0
city                  0
state                 0
zipCode               0
formattedAddress      0
bedrooms            171
squareFootage       113
yearBuilt           158
features             82
county                0
assessorID          174
legalDescription    183
ownerOccupied       248
bathrooms           130
lotSize             179
propertyType         84
taxAssessment       182
propertyTaxes       192
lastSalePrice       291
lastSaleDate        222
owner               177
id                    0
longitude             0
latitude              0
subdivision         222
zoning              330
addressLine2        379
dtype: int64

In [11]:
zuma_realestate_df['bedrooms'] = zuma_realestate_df['bedrooms'].fillna(0)
zuma_realestate_df['bathrooms']= zuma_realestate_df['bathrooms'].fillna(0)
zuma_realestate_df['propertyType'] = zuma_realestate_df['propertyType'].fillna('Not Specified')
zuma_realestate_df['legalDescription'] = zuma_realestate_df['propertyType'].fillna('Not Specified')

In [12]:
zuma_realestate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   addressLine1      500 non-null    object
 1   city              500 non-null    object
 2   state             500 non-null    object
 3   zipCode           500 non-null    int64
 4   formattedAddress  500 non-null    object
 5   bedrooms          500 non-null    float64
 6   squareFootage     387 non-null    float64
 7   yearBuilt         342 non-null    float64
 8   features          418 non-null    object
 9   county            500 non-null    object
 10  assessorID        326 non-null    object
 11  legalDescription  500 non-null    object
 12  ownerOccupied     252 non-null    float64
 13  bathrooms         500 non-null    float64
 14  lotSize           321 non-null    float64
 15  propertyType      500 non-null    object
 16  taxAssessment     318 non-null    object
 17  propertyTaxes     308 non-null    object
 18  lastSalePrice     209 non-null    float64
 19  lastSaleDate      278 non-null    object
 20  owner             323 non-null    object
 21  id                500 non-null    object
 22  longitude         500 non-null    float64
 23  latitude          500 non-null    float64
 24  subdivision       278 non-null    object
 25  zoning            170 non-null    object
 26  addressLine2      121 non-null    object
dtypes: float64(9), int64(1), object(17)
memory usage: 105.6+ KB

In [13]:
zuma_realestate_df['bathrooms'].dtypes

dtype('float64')

In [14]:
zuma_realestate_df['yearBuilt']= zuma_realestate_df['yearBuilt'].astype(str).replace('.0', '', regex=True)
zuma_realestate_df['features']= zuma_realestate_df['features'].astype(str)
zuma_realestate_df['id']= zuma_realestate_df['id'].astype(str)
zuma_realestate_df['owner']= zuma_realestate_df['owner'].astype(str)
zuma_realestate_df['propertyTaxes']= zuma_realestate_df['propertyTaxes'].astype(str)
zuma_realestate_df['bedrooms']= zuma_realestate_df['bedrooms'].astype('Int64')
zuma_realestate_df['bathrooms']= zuma_realestate_df['bathrooms'].astype('int64')
zuma_realestate_df['lastSaleDate ']= pd.to_datetime(zuma_realestate_df['lastSaleDate'])

In [15]:
zuma_realestate_df.columns

Index(['addressLine1', 'city', 'state', 'zipCode', 'formattedAddress',
       'bedrooms', 'squareFootage', 'yearBuilt', 'features', 'county',
       'assessorID', 'legalDescription', 'ownerOccupied', 'bathrooms',
       'lotSize', 'propertyType', 'taxAssessment', 'propertyTaxes',
       'lastSalePrice', 'lastSaleDate', 'owner', 'id', 'longitude', 'latitude',
       'subdivision', 'zoning', 'addressLine2', 'lastSaleDate '],
      dtype='object')

In [16]:
location_dim = zuma_realestate_df[['addressLine1','city','state','zipCode','formattedAddress','county','addressLine2']].copy().drop_duplicates().reset_index (drop=True)
location_dim['location_id']= range(1, len(location_dim)+1)
location_dim = location_dim[['location_id','addressLine1','city','state','zipCode','formattedAddress','county','addressLine2']]

In [17]:
sales_dim = zuma_realestate_df[['lastSalePrice','lastSaleDate']].copy().drop_duplicates().reset_index (drop=True)
sales_dim['sales_id'] = range(1, len(sales_dim)+1)
sales_dim = sales_dim[['sales_id','lastSalePrice','lastSaleDate']]

In [18]:
features_dim = zuma_realestate_df[['bedrooms', 'squareFootage', 'features', 'bathrooms', 'lotSize']].copy().drop_duplicates().reset_index (drop =True)
features_dim['feature_id'] = range(1, len(features_dim)+1)
features_dim = features_dim[['feature_id', 'bedrooms', 'squareFootage', 'features', 'bathrooms', 'lotSize']]

In [19]:
zuma_fact = zuma_realestate_df.merge(location_dim, on = ['addressLine1','city','state','zipCode','formattedAddress','county','addressLine2'], how = 'left')\
                                .merge(sales_dim, on = ['lastSalePrice','lastSaleDate'], how = 'left')\
                                .merge(features_dim, on = ['bedrooms', 'squareFootage', 'features', 'bathrooms', 'lotSize'], how ='left')

In [20]:
zuma_fact = zuma_fact [['id', 'location_id','sales_id', 'feature_id', 'yearBuilt', 'assessorID', 'legalDescription',
                                  'ownerOccupied','propertyType','taxAssessment','owner' ,'propertyTaxes', 'subdivision', 'zoning']]

In [21]:
zuma_fact.head()

,id,location_id,sales_id,feature_id,yearBuilt,assessorID,legalDescription,ownerOccupied,propertyType,taxAssessment,owner,propertyTaxes,subdivision,zoning
0,"511-John-St,-Bryan,-OH-43506",1,1,1,1959,063-190-07-006.000,Single Family,1.0,Single Family,"{'2022': {'value': 36510, 'land': 10820, 'impr...","{'names': ['SUSAN JO KERR'], 'mailingAddress':...",{'2021': {'total': 1799}},NaN,NaN
1,"1067-Marlin-Dr,-Rockledge,-FL-32955",2,2,2,1966,25-36-05-52-00008.0-0010.00,Single Family,NaN,Single Family,"{'2021': {'value': 104510, 'land': 25000, 'imp...","{'names': ['GYULA L KISS', 'JULIE A KISS'], 'm...","{'2021': {'total': 1830}, '2022': {'total': 21...",MARLIN SUBD,R2
2,"1136-Sullivan-Rd,-Apt-15,-Ogden,-UT-84403",3,3,3,nan,NaN,Not Specified,NaN,Not Specified,NaN,nan,nan,NaN,NaN
3,"101-Trinity-Lakes-Dr,-Apt-361,-Sun-City-Center...",4,3,3,nan,NaN,Not Specified,NaN,Not Specified,NaN,nan,nan,NaN,NaN
4,"7843-S-Euclid-Ave,-Apt-1,-Chicago,-IL-60649",5,4,4,1925,20-25-331-015,Apartment,1.0,Apartment,"{'2020': {'value': 14447, 'land': 3402, 'impro...","{'names': ['78TH EUCLID LLC,'], 'mailingAddres...",{'2020': {'total': 2527}},SOUTHFIELD,NaN

In [22]:
location_dim.to_csv(r'C:\Users\Admin\Desktop\10Alytics\Realtor Project\zuma_realtor\Datasets\Transformed_Data\location_dim.csv', index = False)
sales_dim.to_csv(r'C:\Users\Admin\Desktop\10Alytics\Realtor Project\zuma_realtor\Datasets\Transformed_Data\sales_dim.csv', index = False)
features_dim.to_csv(r'C:\Users\Admin\Desktop\10Alytics\Realtor Project\zuma_realtor\Datasets\Transformed_Data\features_dim.csv', index = False)
zuma_fact.to_csv(r'C:\Users\Admin\Desktop\10Alytics\Realtor Project\zuma_realtor\Datasets\Transformed_Data\zuma_fact.csv', index = False)

In [23]:
zuma_fact.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                500 non-null    object
 1   location_id       500 non-null    int64
 2   sales_id          500 non-null    int64
 3   feature_id        500 non-null    int64
 4   yearBuilt         500 non-null    object
 5   assessorID        326 non-null    object
 6   legalDescription  500 non-null    object
 7   ownerOccupied     252 non-null    float64
 8   propertyType      500 non-null    object
 9   taxAssessment     318 non-null    object
 10  owner             500 non-null    object
 11  propertyTaxes     500 non-null    object
 12  subdivision       278 non-null    object
 13  zoning            170 non-null    object
dtypes: float64(1), int64(3), object(10)
memory usage: 54.8+ KB

In [24]:
def get_db_connection():
    connection = psycopg2.connect(
        host = 'localhost',
        user ='postgres',
        password ='postgres',
        database ='zuma_realtor'
    )
    return connection

conn = get_db_connection()
cursor = conn.cursor()

In [25]:
def create_tables():
    conn = get_db_connection()
    cursor = conn.cursor()
    table_query =''' CREATE SCHEMA IF NOT EXISTS zuma;
    CREATE TABLE IF NOT EXISTS zuma.location_dim(
    location_id SERIAL PRIMARY KEY,
    addressLine1 VARCHAR(1000),
    city VARCHAR(1000),
    state VARCHAR(1000),
    zipCode INTEGER,
    formattedAddress VARCHAR(1000),
    county VARCHAR(1000),
    addressLine2 VARCHAR(1000)
    );

    CREATE TABLE IF NOT EXISTS zuma.sales_dim(
    sales_id SERIAL PRIMARY KEY,
    lastSalePrice FLOAT,
    lastSaleDate VARCHAR (1000)
    );

    CREATE TABLE IF NOT EXISTS zuma.features_dim(
    feature_id SERIAL PRIMARY KEY,
    bedrooms INTEGER,
    squareFootage FLOAT,
    features VARCHAR(1000),
    bathrooms INTEGER,
    lotSize FLOAT
    );

    CREATE TABLE IF NOT EXISTS zuma.zuma_fact(
    id VARCHAR(1000) PRIMARY KEY,
    location_id INTEGER,
    sales_id INTEGER,
    feature_id INTEGER,
    yearBuilt VARCHAR(1000),
    assessorID VARCHAR(1000),
    legalDescription VARCHAR(1000),
    ownerOccupied FLOAT,
    propertyType VARCHAR(1000),
    taxAssessment VARCHAR(1000),
    owner VARCHAR(1000),
    propertyTaxes VARCHAR(1000),
    subdivision VARCHAR(1000),
    zoning VARCHAR(1000),
    FOREIGN KEY (location_id) REFERENCES zuma.location_dim(location_id),
    FOREIGN KEY (sales_id) REFERENCES zuma.sales_dim(sales_id),
    FOREIGN KEY (feature_id) REFERENCES zuma.features_dim(feature_id)
    );

'''
    cursor.execute(table_query)
    conn.commit()
    cursor.close()
    conn.close()

In [26]:
create_tables()

In [27]:
zuma_fact.head()

,id,location_id,sales_id,feature_id,yearBuilt,assessorID,legalDescription,ownerOccupied,propertyType,taxAssessment,owner,propertyTaxes,subdivision,zoning
0,"511-John-St,-Bryan,-OH-43506",1,1,1,1959,063-190-07-006.000,Single Family,1.0,Single Family,"{'2022': {'value': 36510, 'land': 10820, 'impr...","{'names': ['SUSAN JO KERR'], 'mailingAddress':...",{'2021': {'total': 1799}},NaN,NaN
1,"1067-Marlin-Dr,-Rockledge,-FL-32955",2,2,2,1966,25-36-05-52-00008.0-0010.00,Single Family,NaN,Single Family,"{'2021': {'value': 104510, 'land': 25000, 'imp...","{'names': ['GYULA L KISS', 'JULIE A KISS'], 'm...","{'2021': {'total': 1830}, '2022': {'total': 21...",MARLIN SUBD,R2
2,"1136-Sullivan-Rd,-Apt-15,-Ogden,-UT-84403",3,3,3,nan,NaN,Not Specified,NaN,Not Specified,NaN,nan,nan,NaN,NaN
3,"101-Trinity-Lakes-Dr,-Apt-361,-Sun-City-Center...",4,3,3,nan,NaN,Not Specified,NaN,Not Specified,NaN,nan,nan,NaN,NaN
4,"7843-S-Euclid-Ave,-Apt-1,-Chicago,-IL-60649",5,4,4,1925,20-25-331-015,Apartment,1.0,Apartment,"{'2020': {'value': 14447, 'land': 3402, 'impro...","{'names': ['78TH EUCLID LLC,'], 'mailingAddres...",{'2020': {'total': 2527}},SOUTHFIELD,NaN

In [28]:
zuma_fact['taxAssessment'] = zuma_fact['taxAssessment'].astype(str)
zuma_fact['owner'] = zuma_fact['owner'].astype(str)
zuma_fact['propertyTaxes'] = zuma_fact['propertyTaxes'].astype(str)

In [38]:

db_params ={
    'host': 'localhost',
    'user': 'postgres',
    'password':'postgres',
    'database': 'zuma_realtor',
    'port' : '5432'
}

db_url = f"postgresql://{db_params['user']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}"

engine = create_engine(db_url)

with engine.connect() as connection:
    location_dim.to_sql('location_dim', connection, schema='zuma', if_exists='replace', index=False)
    sales_dim.to_sql('sales_dim', connection, schema='zuma', if_exists='replace', index=False)
    features_dim.to_sql('features_dim', connection, schema='zuma', if_exists='replace', index=False)
    zuma_fact.to_sql('zuma_fact', connection, schema='zuma', if_exists='replace', index=False)